$color-primary-light: #7ed56f;
$color-primary:#55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #FF8C7C;
$color-secondary-dark: #FF6C5C;

$color-tertiary-light: #BE90D4;
$color-tertiary-dark: #9b59b6;

$color-white: #fff;
$color-dark-gray: #777;
$color-black: #000;

$color-gray-light-1: #f7f7f7;