.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(160px), 1fr));
    width: rem(1140px);
    margin: 0 auto;

    &--gap-sm {
        grid-gap: rem(25px);
    }

    &--gap-lg {
        grid-gap: rem(60px);
    }
}