.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(240px), 1fr));
    width: 90%;
    max-width: rem(1140px);
    margin: 0 auto;

    &--gap-sm {
        grid-gap: rem(25px);
    }

    &--gap-lg {
        grid-gap: rem(60px);
    }
}

.row {
    width: 90%;
    max-width: rem(1140px);
    margin: 0 auto;

    &::before,
    &::after {
        content: '';
        clear: both;
    }
}