.u-pad {
    padding-left: rem(80px);
    padding-right: rem(80px);
}

.u-center-text {
    text-align: center;
}

.margin-bottom-sm {
    margin-bottom: rem(20px);
}

.margin-bottom-md {
    margin-bottom: rem(40px);
}

.margin-bottom-lg {
    margin-bottom: rem(80px);
}