.section-about {
    background-color: $color-gray-light-1;
    padding-top: rem(250px);
    margin-top: -20vh;
    padding-bottom: rem(280);
}

.section-features {
    padding: rem(200) 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), resolve('nat-4.jpg');
    transform: skewY(-7deg);
    margin-top: rem(-100);
    background-size: cover;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours, .section-stories {
    padding: rem(150) 0;
}

.section-stories {
    padding: rem(150) 0;
    position: relative;
}

.section-book {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    padding: rem(150) 0;

    &__form {
        background-image: linear-gradient(105deg, rgba($color-white, 0.8) 0%, rgba($color-white, 0.8) 50%, transparent 50%), resolve('nat-10.jpg');
        background-size: cover;
        padding: rem(60);

    }
}